.main{
    margin: 0 auto;
    margin-top: 150px;
    background-color: azure;
    display : flex;
    width : 18vw;
    border: 3px solid gray;
    height: 45vh;
    text-align: center;
    border-radius: 10%;
    box-shadow: 8px 5px 10px grey;
    }

    .display{
        border-radius: 20%;
        /* background-color: antiquewhite; */
        width: 15vw;
        margin-top: 20px;
        margin-left: 15px;
        height: 7vh;
        /* box-shadow: 5px 5px 10px goldenrod; */
    }

   .keys{
    background-color: beige;
    max-width: fit-content;
    max-height: fit-content;
    margin: 30px 0 0 48px;
    padding: 4px;
    
}
